<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Test API</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/deps/mini-bootstrap.min.css?wv=[WVERSION]"/>
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/deps/codemirror.css?wv=[WVERSION]"/>
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/deps/lint.css?wv=[WVERSION]"/>
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/deps/foldgutter.css?wv=[WVERSION]"/>
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/deps/fullscreen.css?wv=[WVERSION]"/>
    <link rel="stylesheet" href="HTTPAPI_V1_DEV/Layout/test.css?wv=[WVERSION]"/>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="clearfix content-zone toolbox">
                <div class="pull-left">
                    <form class="form-inline" role="form" id="examplesForm" action="#">
                        <div class="form-group">
                            <label class="sr-only">Examples</label>

                            <p class="form-control-static example-label">Examples</p>
                        </div>
                        <div class="form-group">
                            <label for="listOfOptions" class="sr-only">Examples</label>
                            <select name="listOfOptions" id="listOfOptions" class="form-control">
                                [BLOCK EXAMPLES]
                                <option value="[id]">[title]</option>
                                [ENDBLOCK EXAMPLES]
                            </select>
                        </div>
                    </form>
                </div>
                <div class="pull-right">
                    <button id="showDocumentation" type="button" class="btn btn-info">Show the documentation</button>
                </div>
            </div>
            <form action="#" id="request_form" class="content-zone request-zone">
                <div class="form-group">
                    <label for="request_url">Url of the request</label>
                    <input type="text" name="request_url" id="request_url" class="form-control"/>
                </div>
                <div class="form-group">
                    <label for="request_method">Method of the request</label>
                    <select name="request_method" id="request_method" class="form-control">
                        <option value="POST">POST (Create)</option>
                        <option value="GET" selected>GET (Read)</option>
                        <option value="PUT">PUT (Update)</option>
                        <option value="DELETE">DELETE (Delete)</option>
                    </select>
                </div>
                <div id="contentZone">
                    <label for="request_content">Content of the request (JSON)
                        <small>
                            Press F11 when cursor is in the editor to toggle full screen
                            editing. Esc can also be used to exit full screen editing.
                            Press Ctrl+R to indent the JSON.
                        </small>
                    </label>
                    <textarea name="request_content" id="request_content" class="text__input"></textarea>
                </div>
            </form>
            <div class="send-zone">
                <button id="sendButton" class="btn btn-default btn-block send_button">Send the request</button>
            </div>
        </div>
        <div class="col-md-8">
            <div class="content-zone result-zone">
                <div class="clearfix result-zone-label"
                       title="Press F11 when cursor is in the editor to toggle full screen.">
                    <strong class="pull-left">
                    Request result
                    </strong>
                    <button id="cleanResult" type="button" class="btn btn-xs btn-warning pull-right">Clean Result</button>
                </div>
                <textarea name="request_result" id="request_result" class="text__input result__input">

                </textarea>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    window.defaultValues = window.defaultValues || [DEFAULT_VALUES];
    window.examples = window.examples || [EXAMPLES];
</script>
<script type="text/javascript" src="lib/jquery/jquery.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/codemirror.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/javascript.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/jsonlint.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/lint.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/json-lint.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/closebrackets.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/matchbrackets.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/foldcode.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/foldgutter.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/brace-fold.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/deps/fullscreen.js?wv=[WVERSION]"></script>
<script type="text/javascript" src="HTTPAPI_V1_DEV/Layout/test_api.js?wv=[WVERSION]"></script>
</body>
</html>