body {
    background-color: whitesmoke;
}

.content {
    margin: 10px 10px 0 10px;
}

.content-zone {
    padding: 5px;
}

.toolbox {
    background-color: #EAFFEC;
}

.request-zone {
    background-color: #F9FFD5;
}

.result-zone {
    background-color: #dde7f3;
}

.example-label {
    padding: 0;
    margin: 0;
}

.form-group {
    margin-bottom: 5px;
}

